#container{
    /* border: 1px solid red; */
    /* height: 30vw; */
    width: 500px;
    margin-top: 100px;
    /* margin: auto; */
    margin-left: 500px;
    padding-top: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


#container>h1{
    margin-top: -60px;
text-align: center;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
font-size: 40px;
}

#container>input{
    height:50px;
    width:400px;
    margin-left:25px;
    margin-top: 10px;
    /* text-decoration: none; */
border-radius: 3px;

}

button{
    height:50px;
    width:409px;
    margin-left:25px;
    background-color: #4488FF;
    margin-top:10px;
    border: none;
    color:white;
}

p{
    color:#4488FF;
    margin-left:100px
}

img{
    height:40px;
    /* margin-top: 60px; */
     margin-left: 120px;

}
#box{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-evenly;
}

.b{
    /* border: 1px solid black; */
    font-size: large;
}

.b>img{
    height:20px;
    width:40px;
     margin-left: -0px;
}