* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#AirMen {
    display: flex;
    margin-left: 55px;
}

#freeTrail>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 52px;
    line-height: 48px;
    margin-top: 20px;
}

#freeTrail>#p {
    margin-top: 45px;
}

#freeTrail>p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-size: 20px;
    margin-top: 10px;
}

#form>input {
    margin-top: 42px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(193, 191, 191);
    padding: 15px 207px 15px 23px;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 5px;
}

#TrailBtn {
    color: white;
    background-color: rgb(8, 207, 101);
    padding: 16px 32px 15px 32px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    transition: .3s;
}
#TrailBtn:hover{
    background-color: rgb(5, 167, 81);
}

#play {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-top: 50px;
    color: rgb(77, 77, 77);
}

#play>i {
    margin-top: 3px;
    margin-right: 12px;
}

#flymenImg>img {
    margin-top: 10px;
    height: 399px;
    width: 589px;
    margin-left: -23px;
}


#navbar {
    border: 2px teal;
    height: 60px;
    background-color: teal;
}

#trustImg>img {
    height: 50px;
    margin: 0px 37px;
}

#trust {
    margin-top: 120px;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(101, 118, 148);
    font-size: 6px;
    line-height: 20px;
    letter-spacing: 1.5px;
}

#seamless {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    text-align: center;
    line-height: 30px;
}

#seamless>h3 {
    font-weight: 500;
}

#seamH3 {
    margin-top: 35px;
}

#seamlessComp {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

#seamlessComp>div {
    margin: 0px 41px;
}

#seamlessComp>div>h1 {
    font-size: 22px;
    margin-bottom: 29px;
}

#seamlessComp>div>img {
    margin-bottom: 30px;
    margin-top: 80px;
}

#seamlessComp>div>p {
    line-height: 34px;
    margin-bottom: 10px;
}

#videoDiv {
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    background-color: #ebf5f3;
    padding-top: 80px;
    text-align: center;
}

#videoDiv>h1 {
    margin-bottom: 30px;
}

#videoDiv>p {
    font-size: 19px;
    line-height: 30px;
}

.video1 {
    height: 513px;
    width: 707px;
    margin-top: 10px;
}

#newWeb {
    display: flex;
}

#newWeb>#info {
    text-align: left;
    line-height: 30px;
    margin-left: 100px;
    margin-top: 150px;
}

#newWeb>#info>h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#newWeb2 {
    display: flex;
}

#newWeb2>#info2 {
    text-align: left;
    line-height: 30px;
    margin-left: 60px;
    margin-top: 150px;
    margin-right: 100px;
}

#newWeb2>#info2>h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#newWeb3 {
    display: flex;
}

#newWeb3>#info3 {
    text-align: left;
    line-height: 30px;
    margin-left: 60px;
    margin-top: 150px;
    margin-right: 100px;
}

#newWeb3>#info3>h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#template {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto);
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

#templateInfo>h1 {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
}

#templateInfo>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-bottom: 40px;
}

#templateInfo {
    text-align: center;
}

#template2 .card>p, #template .card>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

#template .card>h1, #template2 .card>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 12px;
}

#template .card>h2, #template2 .card>h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: rgb(0, 82, 82);
    transition: .7s;
}

#template .card>h4, #template2 .card>h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}

#template .card, #template2 .card  {
    text-align: left;
    background-color: #ebf5f3;
    padding-top: 12px;
    padding-bottom: 19px;
    padding: 15px 29px 27px 28px;
    border-radius: 15px;
    transition: .7s;
}
#template .card:hover>h4, #template2 .card:hover>h4{
    color: white;
}
#template .card:hover>p, #template2 .card:hover>p{
    color: white;
}
#template .card:hover>h1, #template2 .card:hover>h1{
    color: white;
}
#template  .card:hover, #template2  .card:hover {
    background-color: rgb(4, 69, 69);
    color: white;
}

#template .card:hover>h2, #template2 .card:hover>h2 {
    color: rgb(102, 195, 135);
}

#apps {
    display: flex;
    overflow: hidden;
    background-color: #ebf5f3;
    margin-top: 30px;
    padding-top: 50px;
    gap: 130px;
    padding-left: 50px;
    overflow: hidden;
}

#apps>div>img {
    overflow: hidden;
}

#apps>div>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 12px;
}

#apps>div>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 23px;
}

#apps>div>h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 12px;
}

#Appicons {
    height: 240px;
    width: 200px;
    margin-top: -200px;
    /* overflow: hidden; */
}

#icons {
    height: 1106px;
    width: 650px;
}

#reno {
    display: flex;
    gap: 50px;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#reno>div {
    margin-left: 60px;
}

#reno>div>h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 23px;
}

#imageLogo>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 390;
    font-size: 13px;
    margin-top: 30px;
}

#renoImg {
    height: 250px;
    width: 300px;
    border-top-left-radius: 120px;
}

#renoLogo {
    height: 50px;
    width: 50px;
    padding-top: 10px;
    padding-left: 50px;
}

#imageLogo {
    display: flex;
}

#reno>div>h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(4, 82, 82);
    font-weight: 600;
    font-size: 15px;
}

#template2 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    gap: 30px;
    padding-right: 130px;
    padding-bottom: 50px;
    padding-left: 130px;
    background-color: rgb(236, 231, 218);
    padding-top: 100px;
}

#templateInfo2>h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

#templateInfo2>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#templateInfo2 {
    padding-top: 40px;
    text-align: center;
    background-color: rgb(236, 231, 218);
}
/* 
.card2>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 10px;
    margin-top: 13px;
    margin-bottom: 12px;
}

.card2>h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 12px;
}

.card2>h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: rgb(0, 82, 82);
    transition: .7s;
}

.card2:hover>h2{
    color: rgb(102, 195, 135);
}

.card2>h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
}

.card2 {
    text-align: left;
    background-color: #ebf5f3;
    padding-top: 12px;
    padding-bottom: 19px;
    padding: 15px 0px 27px 28px;
    border-radius: 15px;
    transition: .7s;
}

.card2:hover {
    background-color: rgb(4, 69, 69);
    color: white;
} */

#powerInfo>h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin: 9px 0px 25px -58px;
    color: white;
}

#powerInfo>h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 0px 0px 34px -24px;
    font-size: 40px;
    color: white;
}

#powerDiv {
    background-color: #04454D;
    height: 320px;
}

#powerImg1>img {
    height: 328px;
    width: 463px;
    margin: -2px -164px;
}

#powerImg2>img {
    height: 328px;
    width: 463px;
    margin: -266px 0px 0px 870px;
}

#powerInfo {
    margin: -262px 0px 0px 428px;
}
#B_email{
    font-family: 'Montserrat', sans-serif;
    border: 2px solid rgb(193, 191, 191);
    padding: 11px 129px 11px 19px;
    margin: 0px 5px 0px -79px;
    border-radius: 4px;
    font-size: 16px;
}
#B_btn{
    color: white;
    background-color: rgb(8, 207, 101);
    padding: 13px 15px 13px 19px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    border-radius: 4px;
    margin-left: 1px;
}