#container{
    /* border: 1px solid black; */
    /* height: 35vw; */
    width:55%;
    margin-top: 100px;
    margin-left: 300px;
    padding-bottom: 50px;
    display: flex;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#image{
    margin-left: 100px;
    height: 40px;
    width:400px;
}

#left{
   /* border: 1px solid red; */
   height:30vw;
   margin-top: 100px;
   /* margin: auto; */
   width: 1000px;
}

#right{
    /* border:1px solid green; */
    height:30vw;
   /* margin:auto; */
   width: 800px;
   margin-top: 30px;
   margin-right: 50px;
}

h3{
    margin-left: 60px;
    margin-top:60px;
    font-size: 25px;
}
h1{
    margin-left:30px;
    /* margin-bottom: -20px; */
    margin-top: 50px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}



#box{
    /* border: 1px solid pink; */
    display:flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-left: 90px;
    height: 40px;
    width:413px;
    gap:20px;

}

#mum{
    width:100px;
}
#name{
    width:394px;
    height: 35px;
    /* text-align: center; */
    padding-left: 10px;
    /* margin:  */
    margin-top: 20px;
    margin-left: 90px;
    /* border-radius:3px; */
    /* border-color: grey; */
}

#email{
    height:35px;
    width:400px;
    margin-left: 90px;
    margin-top: 20px;
    /* border-radius:3px; */
}
#comp{
    height:35px;
    width:400px;
    margin-left: 90px;
    margin-top: 20px; 
    /* border-radius:3px; */
}

#mum{
    height:40px;
    margin-left:-7px;
    width: 120px;
    /* border-radius:3px; */
}

#numdiv>input{
    height:35px; 
    width: 255px;
    /* border-radius:3px; */
}


p{
    margin-left: 90px;
    color:grey;
}

#con{
    margin-left: 90px;
    border: none;
    border-radius:3px;
    border-radius:3px;

}
button{
    margin-top: 10px;
    margin-left: 430px;
    background-color: #4488FF;
    border: none;
    height:30px;
    width:60px;
    border-radius:3px;
}

button:hover{
    background-color: lightblue;
}

