#footer {
    background-color: #0c3245;
}

#footer1 {
    display: flex;
}

#footer1>.footerCard1>h1 {
    color: white;
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

#footer1>.footerCard1>a {
    color: rgb(193, 201, 216);
    text-decoration: none;
    margin: 8px 0px;
    letter-spacing: 1px;
    transition: .3s;
}

#footer1>.footerCard1>a:hover {
    color: rgb(134, 223, 165);
    text-decoration: underline;
}

#footer1>.footerCard1 {
    margin: 0px 60px;
}

.footerCard1 {
    display: flex;
    flex-direction: column;
}

#footer2 {
    display: flex;
}

#footer2>.footerCard2>h1 {
    color: white;
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

#footer2>.footerCard2>a {
    color: rgb(193, 201, 216);
    text-decoration: none;
    margin: 8px 0px;
    letter-spacing: 1px;
    transition: .3s;
}

#footer2>.footerCard2>a:hover {
    color: rgb(134, 223, 165);
    text-decoration: underline;
}

#footer2>.footerCard2-one>div>h1 {
    color: white;
    margin-top: 40px;
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

#footer2>.footerCard2-one>div>a {
    color: rgb(193, 201, 216);
    text-decoration: none;
    margin: 8px 0px;
    letter-spacing: 1px;
    transition: .3s;
}

#footer2>.footerCard2-one>div>a:hover {
    color: rgb(134, 223, 165);
    text-decoration: underline;
}

#footer2>.footerCard2-one {
    margin: 0px -10px;
}

.footerCard2-one {
    display: flex;
}

.footerCard2-one>div {
    display: flex;
    flex-direction: column;
    margin: 0px 70px;
}

.footerCard2-one>div:nth-child(2) {
    margin-top: 80px;
}

.footerCard2 {
    display: flex;
    flex-direction: column;
}

#footerCard3 {
    display: flex;
    margin-left: -70px;
}

#footerCard3>div {
    display: flex;
    margin-left: 90px;
}

#footerDiv-1 {
    display: flex;
}

#footerDiv-1>img {
    height: 50px;
    width: 150px;
    margin: 0px 11px;
}

#footerDiv-2 {
    display: flex;
}

#footerDiv-2>i {
    color: rgb(220, 220, 220);
    margin: 0px 17px;
    margin-top: 20px;
    font-size: 20px;
    transition: .3s;
}
#footerDiv-2>i:hover{
    color: rgb(134, 223, 165);
}
#footerDiv-3>p {
    color: rgb(220, 220, 220);
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

#horiLine {
    color: grey;
    opacity: 29%;
    margin-left: 60px;
}