*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
 #color{
    background-color:#0c3245;
 }

#main{
    border: 1px solid red;
    width: 100%;
    background-color: #0c3245;
}
 .heading{
   width: 70%;
   margin: auto;
 }
 .heading>h1{
text-align: center;
 font-size:70px;
 margin: auto;
 margin-top: 90px;
 color: white;
 font-weight: bold;
 }
.para{
  
   width: 35%;
   margin: auto;
}
.para>p{
    text-align: center;
   font-size: large;
   margin-top: 40px;
   font-weight: bolder;
   color: white;
}
.search{
   width: 50%;
   margin-left: 500px;
}
.search>button{
 margin-top: 20px;
 padding: 20px;
 border-radius: 5px;
 background-color:#08cf65;
 color: white;
 width: 25%;
 font-size: larger;
 font-weight: bolder;
 border: none;
 cursor: pointer;

}
.box{
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    width: 50%;
    font-size: larger;
    font-weight: bolder;
   
}
.video{
    

}
.video>button{
    display: block;
    margin: auto;
    margin-top:60px;
   border: none;
   color: #08cf65;
   font-size: larger;
   font-weight: bolder;
   background-color: transparent;
   cursor: pointer;
}
/* .video .play{
    margin: auto;
    
} */
.image img{
    width: 20%;
}
.companyLogo{
    
    
}
#sub-main{
    background-color:#181f38;
}
.companyLogo>p{
text-align: center;

  color: white;
}
.logo{
  
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-right: 10px;
    
}
.star{
   
    display: flex;
    /* justify-content: space-between; */
    margin-top: 70px;
    
}
.boce{
width: 40%;
}
.truth{
    width: 100%;
    margin-top: 150px;
}
.truth h1{
color: white;
}
.truth>p{
    margin-top: 20px;
    color: white;
    line-height: 35px;
}
.truth>button{
    margin-top: 30px;
    border: none;
    background-color: transparent;
    color: #08cf65;
    font-size: larger;
    cursor: pointer;
}
.images{
  
    width: 50%;
    
}
.images>img{
    width: 80%;
}
